html, body{
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto, sans-serif;
}

/*Flex-box alinhado ao centro para deixar o conteúdo flexível*/
.container{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
    justify-content: center;
    background-color: rgb(233, 235, 240);   
}

/*Main ocupando 80vw da página com limite máximo de largura de 1200px*/
.main{
    width: 80vw;
    max-width: 1200px;
    /* background-color: rgb(182, 190, 207);     */
}

.grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 2em;
    grid-template-areas: a a a;

}

/****************************Divs dividindo os campos no formulário de cadastro*********************************************/
.A{
    width: 30em;
    height: 180PX;
    padding: 20px;
}

.B{
    width: 30em;
    height: 180PX;
    padding: 20px;
}

.C{
    width: 30em;
    height: 200px;
    padding: 20px;
}

.D{
    width: 30em;
    height: 200px;
    padding: 20px;
}

.divCpfCep{
    display: flex;
    width: 100%;
}

.divCepCpf{
    margin-right: 10em;
    align-self: left;
}

.divCpf{
    width: 10em;
    margin-right: 5.5em;
}

.divCep{
    width: 10em;
}

/*************************************************Estilizando os Botões*******************************************************/
#btn_enviar{
    width: 6em;
    height: 2em;
    border-radius: 5px;    
}

#btn_limpar{
    width: 6em;
    height: 2em;
    border-radius: 5px;
}

/*************************************************Estilizando Inputs*******************************************************/
.inputText{
    width: 35em;
    height: 2em;
    border-radius: 10px;
}

.inputText:cepCpf{
    width: 5em;
    height: 2em;
    border-radius: 10px;
}

.inputCpf{
    width: 16em;
    margin-right: 10em;
    height: 2em;
    border-radius: 10px;
}

.inputCep{
    width: 16em;
    height: 2em;
    border-radius: 10px;
}

#idMensagem{
    width: 28.5em;
    height: 6em;
    border: 2px solid black;
    border-radius: 10px;
    padding: 10px;
    font-size: 16px;
}

.label{
    font-weight: bold;
}

fieldset{
    border: 0px;
}

/*************************************************Divs de teste que serão substituidas*******************************************************/
.divTesteHeader{
    width: 100%;;
    height: 140px;
    border-bottom: 1px solid gray;
}

.divTesteRodape{
    width: 100%;
    height: 150px;
    border-top: 1px solid gray;
}

/*Formatação do menu temporário*/
.ulMenu{
    display: flex;
}