#menu ul {
    padding:0px;
    margin:0px;
    float: left;
    width: 100%;
    background-color:black;
    list-style:none;
    font:80% Roboto;
    height: 70px;
    line-height: 50px;
    font-weight: bold;
}

#menu ul li { 
    display: inline; 
    height: 70px;
}

#menu ul li a {
    background-color: black;
    color: white;
    text-decoration: none;
    border-bottom:3px solid #EDEDED;
    padding: 2px 50px;
    margin: auto;
    float:left;
    height: 50px;
}

#menu ul li a:hover {
    background-color:#D6D6D6;
    color: #6D6D6D;
    border-bottom:3px solid orange;
    height: 50px;
}